@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #3ECF8F;
  --lighterPrimary: #3ecf90e5;
  --secondary: #CF488B;
  --darkerSecondary: #82345B;
  --lighterSecondary: #F2A6B8;
  --tertiary: #CF7734;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}

nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}

nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}

nav h1 {
  color: #fff;
}

.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* snack grid */
.snack-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.snack-card {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.snack-card .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
  font-size: 0.9rem
}

.snack-card .rating:hover {
  background: var(--tertiary);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;

}

.snack-card .price {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary);
}

.snack-card .buttons {
  text-align: right;
}

.snack-card i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}


/* forms */
form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}

form input:focus {
  outline: none !important;
  border-color: var(--lighterPrimary);
  box-shadow: 0 0 2px var(--lighterPrimary);
}

form textarea:focus {
  outline: none !important;
  border-color: var(--lighterPrimary);
  box-shadow: 0 0 2px var(--lighterPrimary);
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
  font-family: "Poppins";

}

form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

form button:hover {
  background: var(--lighterPrimary);
  transition: all 0.2s ease-in-out;

}